<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <property>
    <name>{{RESOURCE_NAME_DIR}}</name>
    <value>file://{{HDFS_HOME}}/dfs/data</value>
  </property>
</configuration>
